*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3CA6A6;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 450px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 20px;
    opacity: calc(0.9);
    box-shadow: 4px 2px 2px gray ;
    margin-left: -70px;
}
.details .name{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 15px;
}
.details .flex{
    margin-top: 15px;
}

body main{
    padding-top: 200px;
}
body main .form{
   margin: auto;
   width:300px;
}
.flex{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.name .input{
    padding: 5px;
    width: 190px;
    height: 30px;
    border-radius: 10px;
    border:1px solid gray;
    margin-left: -10px;
}
.flex .input{
    padding: 5px;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border:1px solid gray;
}
.submit button{
    margin-top: 30px;
    padding: 10px 50px;
    border-radius: 10px;
    border: 2px solid #3CA6A6;
    background-color: #ffffff;
    width: 400px;
    font-size: 20px;
}
.submit button:hover{
    border: 2px solid black;
    color: white;
    background-color: #3CA6A6;
}