*{
    padding: 0px;
    margin: 0px;
}

body header{
    border-bottom: 2px solid #3CA6A6;
    position: sticky;
    top:0px;
    background-color: #ffff;
}
body header .search_bar{
    margin: 20px 0px 0px 600px;
}
body header .search_bar input{
    border: 2px solid #3CA6A6;
    border-radius: 10px;
}
body header .search_bar .search{
    padding: 5px 50px;
}
body header .search_bar .fa{
    margin-left: -20px;
    color: #3CA6A6;
}
body header .list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 15px;
}
body header .list h3{
   padding: 2px 20px;
}
body header .list a{
    text-decoration: none;
    color:black;
}
body header .list .hilight{
    border-bottom: 4px solid #026773;
}
.hex_code{
    font-size: 50px;
}
body .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    border-bottom: 1px solid #3CA6A6;
    max-width: 30rem;
    padding: 20px 0px 10px 100px;
    margin: auto;
    margin-top: 20px;
}
body .top .hash{
    display: flex;
    flex-direction: row;
}
body .top .interest{
    float: right;
    margin: 10px 30px 0px 0px;
}
body .top .topic,.discription{
    padding: 5px 0px 0px 20px;
}
.top .topic_list .topic{
    font-weight: 500;
    font-size: 1.5rem;
    color: #026773;
}
.top .topic_list .discription{
    color: gray;
    max-width: 20rem;
}
body header .home_button{
    float: right;
    margin-top: -40px;
}
body header .home_button button:hover{
    border:1px solid black;
    background-color: #3CA6A6;
    color: white;
}
body header .home_button button{
    padding: 5px 25px;
    background-color: white;
    border-radius: 10px;
    border:2px solid #3CA6A6;
    color: #3CA6A6;
}