
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image:url("../img/login\ page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body .main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 35vh;
}
.formlist{
    display: flex;
    flex-direction: column;
}
.form{
    padding: 10px;
    font-size: 20px;
}
.bn{
    padding-top: 15px;
}
.main .with_mobile .formlist .list{
    font-size: 18px;
    height: 25px;
    border:2px solid #ffffff;
    border-radius: 15px;
}
.main .with_mobile .bn .loginbn{
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 20px;
    border: 2px solid #ffffff;
    background-color: #9EF8EE;
}
.create{
    margin-top: 10px;
}
.create a{
    margin-left: 59vw;
    text-decoration: none;
}
