
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color:  #3CA6A6;
}
body h2{
    margin-top: 20px;
    margin-left: 90px;
    font-size: 2rem;
    color: white;
}
.option{
    width:25rem;
    height:15rem;
    border-radius: 20px;
    margin: 2rem;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.option:hover{
    width: 25.1rem;
    height: 15.1rem;
    border: 2px solid #F2E3D5;
}
body section .select_box{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
body .next{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.next button{
    height:40px;
    width:100px;
    margin-right: 50px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #3CA6A6;
    font-size: 20px;
    font-weight: 500;
}
.next button:hover{
    border: 2px solid black;
    background-color: white;
    color: black;
}
.checkbox{
    margin-left: 200px;
    height: 20px;
    width: 20px;
}
.select_box .entertainment{
    background-image: url("../img/topics/entertainment.jpg");
    background-size: cover;
}
.select_box .news{
    background-image: url("../img/topics/news.jpg");
    background-size: cover;
}
.select_box .gaming{
    background-image: url("../img/topics/gaming.jpg");
    background-size: cover;
}
.select_box .politics{
    background-image: url("../img/topics/politics\ .jpg");
    background-size: cover;
}
.select_box .sports{
    background-image: url("../img/topics/sports.jpg");
    background-size: cover;
}
.select_box .technology{
    background-image: url("../img/topics/technology.jpg");
    background-size: cover;
}
.select_box p{
    color: #024959;
    font-size: 1.5rem;
    padding: 1px 2px;
    background-color: #F2E3D5;
    border-radius: 8px;
    border: 1px solid white;
}
